# Ignore various files that may be created from working within a container
.bash_history
.cache
.local
.pylint.d
.python_history

# Ignore private data
data/*

# Ignore node modules
node_modules/

# Ignore parcel cache
.parcel-cache/
