alembic==1.7.6
astroid==2.9.3
certifi==2022.6.15
charset-normalizer==2.0.12
click==8.0.3
Flask==2.0.2
greenlet==1.1.2
gunicorn==20.1.0
idna==3.3
isort==5.10.1
itsdangerous==2.0.1
Jinja2==3.0.3
lazy-object-proxy==1.7.1
Mako==1.2.2
MarkupSafe==2.0.1
mccabe==0.6.1
platformdirs==2.4.1
psycopg2==2.9.3
pylint==2.12.2
requests==2.28.0
SQLAlchemy==1.4.31
toml==0.10.2
urllib3==1.26.9
Werkzeug==2.0.3
wrapt==1.13.3
