# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Flask
instance/
.webassets-cache

# Environments
.env
.venv
env/
venv/
pyenv/

# Ignore private data
data/*

# Ignore intermediate project setup files
/Makefile
