# Add the following prefix to all images built with docker-compose
COMPOSE_PROJECT_NAME=webapp

# Docker names
REVERSE_PROXY_SERVER_NAME=webapp_reverse_proxy
APPLICATION_SERVER_NAME=webapp_application
SQL_DATABASE_SERVER_NAME=webapp_sql_database
SQL_ADMINISTRATION_SERVER_NAME=webapp_sql_administration
NETWORK_NAME=webapp_network

# Ports
HOST_HTTP_PORT=8000
HOST_SQL_ADMIN_PORT=8080

# Application workers (should be 2-4 per CPU core)
WSGI_WORKERS=2

# Set the strategy for configuring the application.
#
# Options:
#   development
#   production
#   testing
CONFIG_STRATEGY=development

# Set the log level for the running application.
#
# Options:
#   debug
#   info
#   warning
#   error
#   critical
LOG_LEVEL=debug

# Database settings
DB_NAME=webapp_db
