{% extends "base.html" %}
{% block title %}{{ site['brand'] }} - {{ heading }}{% endblock %}

{% block content %}
<div class="text-center">
  <h1>{{ heading }}</h1>
  <p class="lead">{{ leading_text }}</p>

  <div class="container">
  {% if email %}
    {% if already_invited %}
      We've already added <strong>{{ email }}</strong> to our invite list.<br>
      Thank you again for interest!
    {% else %}
      We've added <strong>{{ email }}</strong> to our invite list.<br>
      Thank you for your interest!
    {% endif %}
  {% else %}
    <form action="{{ url_for('main.index') }}" method="post">
      <div class="form-group row">
        <div class="col-sm-3 offset-sm-3 my-3">
          <input type="email" name="email" class="form-control" placeholder="you@example.com">
        </div>
        <div class="col-sm-3 my-3">
          <button type="submit" class="btn btn-primary">Request Invitation</button>
        </div>
      </div>
    </form>
  {% endif %}
    <div class="row my-3">
      <div class="col text-center">
      Visit <a href="{{ url_for('main.invites') }}">{{ url_for('main.invites') }}</a> to see the current invite list.
      </div>
    </div>
  </div>
</div>
{% endblock %}
