<!doctype html>
<html lang="en" class="h-100">
<head>
  <title>{% if title %}{{ title }} | {% endif %}{{ info['product'] }}</title>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>

  <!-- Bootstrap CSS (custom themed) -->
  <link rel="stylesheet" href="{{ url_for('static', filename=glob_file_list('dist/bootstrap.*.css')[0]) }}">

  <!-- Base CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename=glob_file_list('dist/base.*.css')[0]) }}">

  <!-- Custom page styles -->
  {% block style %}
  {% endblock style %}

  {{ plugin['analytics'] | safe }}
</head>
<body class="d-flex flex-column h-100">

<main class="flex-shrink-0">
  <div class="container">
    {% block content %}
    {% endblock content %}
  </div>
</main>

<footer class="footer mt-auto py-3 bg-light">
  <div class="text-center container">
    <span class="text-muted">&copy; {{ time_now('%Y') }} {{ info['product'] }}</span>
  </div>
</footer>

<!-- Base JS -->
<script type="text/javascript" src="{{ url_for('static', filename=glob_file_list('dist/base.*.js')[0]) }}">
</script>

<!-- Custom page javascript -->
{% block script %}
{% endblock script %}

</body>
</html>
