{% extends "base.html" %}
{% block content %}
<div class="text-center">
  <h1>
    {{ info['product'] }}
  </h1>
  <p class="lead">
  Congratulations! The application is is running.
  </p>

  <p>
  Transpile the static sources to ensure the scripts and stylesheets are loaded.
  </p>
  <div class="row justify-content-center">
    <div class="col-4 text-start border">
      <code>
        $ cd application<br>
        $ make install<br>
        $ make<br>
      </code>
    </div>
  </div>
</div>
{% endblock content %}
