{% extends "base.html" %}
{% block content %}
<div class="text-center">
  <h1>{{ heading }}</h1>
  <p class="lead">{{ leading_text }}</p>

  <div class="container">

  {% set bad_email_submitted = email and not is_email_valid %}

  {% if email and is_email_valid %}
    {% if already_invited %}
      We've already added <strong>{{ email }}</strong> to our invite list.<br>
      Thank you again for your continued interest!
    {% else %}
      We've added <strong>{{ email }}</strong> to our invite list.<br>
      Thank you for your interest!
    {% endif %}
  {% else %}

    {% if bad_email_submitted %}
      Oops, <strong>{{ email }}</strong> appears to be an invalid email.<br>
    {% endif %}

    <form action="{{ url_for('main.index') }}" method="post">
      <div class="form-group row">
        <div class="col-sm-3 offset-sm-3 my-3">
          <input type="email" name="email" class="form-control" placeholder="you@example.com"{% if bad_email_submitted %} value="{{ email }}"{% endif %}>
        </div>
        <div class="col-sm-3 my-3">
          <button type="submit" class="btn btn-primary">Request Invitation</button>
        </div>
      </div>
    </form>

  {% endif %}

    <div class="row my-3">
      <div class="col text-center">
      Visit <a href="{{ url_for('main.invites') }}">{{ url_for('main.invites') }}</a> to see the current invite list.
      </div>
    </div>

    <div class="row my-3">
      <div id="list-container" class="col text-center">
        <button id="list-btn" class="btn btn-primary">
          Click to show the invite list
        </button>
      </div>
    </div>

  </div>

</div>
{% endblock content %}

{% block script %}
<script>
{#
Define any constants that you would use in the javascript files here.
#}
{% import 'macros.html' as macro %}
const URL = {
  {{ macro.url_as_property('main.invites') }},
}
</script>

{% if debug %}
<script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}">
{% else %}
<script type="text/javascript" src="{{ url_for('static', filename=glob_file_list('js/index.*.min.js')[0]) }}">
{% endif %}
</script>
{% endblock script %}
